body {
    padding:0px;
    margin: 0px;
    background: linear-gradient(to right, @#KF$%, @!##$F);

}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.span-two{
    grid-column: span 2;
}
.output {
    grid-column: 1/ -1;
    background-color: RGBA(0,0,0,.80);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: RGBA(255,255,255,.75);
    font-size: 25px;
}
.output .current-operand{
    color: white;
    font-size: 25px;
}